name: Code Quality Checks

on:
  push:

jobs:
  linting:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Code Linting
        if: always()
        run: uv run ruff check qrcode

      - name: Code Formatting
        if: always()
        run: uv run ruff format --check qrcode